
.statistic-block {
  display: flex;
  justify-content: space-between;
  color:#000;
  font-family: Nunito;
}

.title-statistic {
  margin-bottom: 38px;
  text-align: left;
  text-transform: uppercase;
  font-size: 48px;
  color: #AA96DD;
}

.statistic-block__subtitle {
  max-width: 180px;
  margin-right: 40px;
  font-family: Nunito;
  font-size: 36px;
  line-height: 49px;
  color: #fff;
  text-transform: uppercase;
}

.inner-circle {
  stroke: #FCAA23;
}

.outer-circle {
  stroke: #FCE623;
  fill: #fff !important;
}

.true-answers__svg circle {
  stroke-width: 13px;
  fill: none;
  transform-origin: center;
  transform: rotate(-90deg);
}

.true-answers__svg text {
  font-family: Nunito;
  font-size: 36px;
  fill: #000;
  text-anchor: middle;
}

.statistic-block__main {
  display: flex;
  flex-direction: column;
}

/*  */

.statistic-block__words {
  display: flex;
  align-items: center;
  padding: 25px 35px;
  background-color: #AA96DD;
  border-radius: 31px;
}

.statistic-block__new-words {
  padding: 25px 29px;
  background-color: #fff;
  border-radius: 31px;
}

.new-words-count {
  min-width: 80px;
  margin: 0;
  font-family: Nunito;
  font-size: 64px;
  line-height: 87px;
}

.statistic-block__words:first-child {
  margin-bottom: 50px;
}

.games {
  position: relative;
  padding: 30px;
  min-width: 340px;
  background: #F7F7F7;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 31px;
}

.game__title {
  margin-bottom: 55px;
  font-family: Nunito;
  font-size: 30px;
  color: #AA96DD;
}

.games p {
  max-width: 200px;
  margin: 0;
  font-family: Nunito;
  font-weight: normal;
  font-size: 24px;
  color: #AAAAAA;
}

.game-words__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.game-words__count {
  padding: 15px;
  font-family: Nunito;
  font-size: 30px;
  background-color: #fff;
  border-radius: 16px;
}

.sprint-logo, .audioCalls-logo {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 105px;
  width: 105px;
  border-radius: 0% 31px 0% 31px;
}

.sprint-logo {
  background: url('../../assets/svg/sprint-logo.svg'), linear-gradient(180deg, #AA96DD 0%, rgba(115, 127, 233, 0.77) 100%);
  background-position: center;
  background-repeat: no-repeat;
}

.audioCalls-logo {
  background: url('../../assets/svg/audioCall-logo.svg'), linear-gradient(180deg, #AA96DD 0%, rgba(115, 127, 233, 0.77) 100%);
  background-position: center;
  background-repeat: no-repeat;
}