.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 90%;
  height: 123px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.header-controls {
  display: flex;
  align-items: center;
}

.nav.show {
  display: flex;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-link {
  display: block;
  margin-left: 20px;
  font-size: 24px;
  text-transform: uppercase;
  padding: 5px;
  color: #a395da;
  font-weight: 900;
  border-radius: 5px;
  white-space: nowrap;
  transition: all 0.3s linear;
}

.nav-link:hover {
  color: #4a4b4e;
}

.logo {
  width: 124px;
  height: 124px;
  background-image: url('/src/assets/svg/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;
}

.logo-title {
  margin-left: -30px;
  font-size: 48px;
  font-weight: 700;
  color: #aa96dd;
}

.nav-hamburger {
  position: absolute;
  display: none;
  left: 21%;
  background: url('/src/assets/svg/burger.svg') center /contain no-repeat;
  background-color: inherit;
  width: 40px;
  height: 40px;
}

@media (max-width: 1400px) {
 
  .header {
    height: 110px;
  }

  .logo {
    width: 110px;
    height: 110px;
  }
  
  .logo-title {
    font-size: 36px;
  }

  .nav-link {
    margin-left: 15px;
    font-size: 20px;
    text-transform: uppercase;
  }

}

@media (max-width: 1200px) {

  .header {
    height: 100px;
  }
 
  .logo {
    width: 100px;
    height: 100px;
  }
  
  .logo-title {
    font-size: 30px;
  }

  .nav-link {
    margin-left: 10px;
    font-size: 18px;
  }

}

@media (max-width: 1000px) {

  .header {
    height: 100px;
    margin-bottom: 20px;
  }

  .logo {
    width: 90px;
    height: 90px;
  }
  
  .logo-title {
    margin-left: -20px;
    font-size: 28px;
  }

  .nav-hamburger {
    display: block;
  }

  .nav {
    display: none;
    top: 20%;
    left: 30%;
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    max-width: 30%;
    z-index: 2;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  }

}

@media (max-width: 850px) {

  .logo {
    width: 80px;
    height: 80px;
  }
  
  .logo-title {
    margin-left: -20px;
    font-size: 20px;
  }

  .nav-link {
    font-size: 14px;
  }

  .user-profile__info {
    display: none;
  }

}

@media (max-width: 650px) {

  .nav-hamburger {
    left: 25%;
  }

  .nav {
    left: 40%;
    max-width: 35%;
  }
}

@media (max-width: 550px) {

  .logo {
    width: 60px;
    height: 60px;
  }
  
  .logo-title {
    margin-left: -16px;
    font-size: 18px;
  }


  .nav-hamburger {
    left: 27%;
    width: 30px;
  }

  .nav {
    left: 35%;
    max-width: 40%;
  }

}

@media (max-width: 500px) {
  .nav-hamburger {
    left: 27%;
    width: 30px;
  }

  .nav {
    left: 40%;
    max-width: 45%;
  }
}

@media (max-width: 450px) {
  .nav-hamburger {
    left: 35%;
    width: 25px;
  }

  .nav {
    left: 40%;
    max-width: 55%;
  }
}